
.background {

    img {
        position: absolute;
    }

    .bg1 {
        max-width: 1296px;
        max-height: 898px;
        bottom: 35px;
        right: 666px;
        z-index: 1;
    }

    .bg2 {
        max-width: 510px;
        bottom: 384px;
        right: 810px;   
    }
}

